:root {
  --w-100: #ffffff;
  --g-10: #f7f9fc;
  --g-20: #e7e9f0;
  --g-30: #c5c8d2;
  --g-40: #979bab;
  --g-50: #727787;
  --g-60: #5d6270;
  --g-70: #4a4f59;
  --g-80: #383b45;
  --g-90: #272930;
  --g-100: #17171a;
  --g-black: #0f0f11;
  --runddy-blue: #04aef1;
  --runddy-pressed: #119bd1;
  --runddy-orange: #ff7534;
  --runddy-green: #2ac47e;
  --runddy-pink: #fd7fcd;
  --runddy-line-pink: #ffdbf1;
  --runddy-line-blue: #b0e8ff;
  --runddy-line-orange: #ffccb4;
  --runddy-line-green: #bdffe1;
  --for-design-mark-blue: #1394ea;
  --for-design-mark-red: #e21e1e;
  --text-pri: #0f0f11;
  --text-sec: #383b45;
  --text-ter: #5d6270;
  --text-placeholder: #979bab;
  --line-ter: #727787;
  --state-error: #f45b50;
  --runddy-map: 2px 2px 12px 0px #0000001a;
  --fontfamilies-pretendard: Pretendard;
  --lineheights-0: 24;
  --lineheights-1: 24;
  --lineheights-2: 20;
  --lineheights-3: 22;
  --lineheights-4: 20;
  --lineheights-5: 22;
  --lineheights-6: 22;
  --lineheights-7: 20;
  --lineheights-8: 18;
  --lineheights-9: 22;
  --lineheights-10: 27;
  --lineheights-11: 34;
  --lineheights-12: 14;
  --lineheights-13: 16;
  --lineheights-14: 15;
  --fontweights-pretendard-0: Medium;
  --fontweights-pretendard-1: Regular;
  --fontweights-pretendard-2: Bold;
  --fontsize-0: 10px;
  --fontsize-1: 11px;
  --fontsize-2: 12px;
  --fontsize-3: 14px;
  --fontsize-4: 15px;
  --fontsize-5: 16px;
  --fontsize-6: 18px;
  --fontsize-7: 21px;
  --fontsize-8: 23px;
  --letterspacing-0: -1.2%;
  --letterspacing-1: 0%;
  --paragraphspacing-0: 0;
  --m18-font-family: Pretendard;
  --m18-font-weight: Medium;
  --m18-font-size: 18px;
  --m18-line-height: 24px;
  --m18-letter-spacing: -1.2%;
  --m18-paragraph-spacing: 0px;
  --m18-text-case: none;
  --m18-text-decoration: none;
  --r18-font-family: Pretendard;
  --r18-font-weight: Regular;
  --r18-font-size: 18px;
  --r18-line-height: 24px;
  --r18-letter-spacing: -1.2%;
  --r18-paragraph-spacing: 0px;
  --r18-text-case: none;
  --r18-text-decoration: none;
  --contents-m15-font-family: Pretendard;
  --contents-m15-font-weight: Medium;
  --contents-m15-font-size: 15px;
  --contents-m15-line-height: 20px;
  --contents-m15-letter-spacing: -1.2%;
  --contents-m15-paragraph-spacing: 0px;
  --contents-m15-text-case: none;
  --contents-m15-text-decoration: none;
  --contents-m16-font-family: Pretendard;
  --contents-m16-font-weight: Medium;
  --contents-m16-font-size: 16px;
  --contents-m16-line-height: 22px;
  --contents-m16-letter-spacing: -1.2%;
  --contents-m16-paragraph-spacing: 0px;
  --contents-m16-text-case: none;
  --contents-m16-text-decoration: none;
  --contents-r14-font-family: Pretendard;
  --contents-r14-font-weight: Regular;
  --contents-r14-font-size: 14px;
  --contents-r14-line-height: 20px;
  --contents-r14-letter-spacing: -1.2%;
  --contents-r14-paragraph-spacing: 0px;
  --contents-r14-text-case: none;
  --contents-r14-text-decoration: none;
  --contents-r16-font-family: Pretendard;
  --contents-r16-font-weight: Regular;
  --contents-r16-font-size: 16px;
  --contents-r16-line-height: 22px;
  --contents-r16-letter-spacing: -1.2%;
  --contents-r16-paragraph-spacing: 0px;
  --contents-r16-text-case: none;
  --contents-r16-text-decoration: none;
  --contents-b16-font-family: Pretendard;
  --contents-b16-font-weight: Bold;
  --contents-b16-font-size: 16px;
  --contents-b16-line-height: 22px;
  --contents-b16-letter-spacing: -1.2%;
  --contents-b16-paragraph-spacing: 0px;
  --contents-b16-text-case: none;
  --contents-b16-text-decoration: none;
  --contents-r15-font-family: Pretendard;
  --contents-r15-font-weight: Regular;
  --contents-r15-font-size: 15px;
  --contents-r15-line-height: 20px;
  --contents-r15-letter-spacing: -1.2%;
  --contents-r15-paragraph-spacing: 0px;
  --contents-r15-text-case: none;
  --contents-r15-text-decoration: none;
  --contents-m14-font-family: Pretendard;
  --contents-m14-font-weight: Medium;
  --contents-m14-font-size: 14px;
  --contents-m14-line-height: 18px;
  --contents-m14-letter-spacing: -1.2%;
  --contents-m14-paragraph-spacing: 0px;
  --contents-m14-text-case: none;
  --contents-m14-text-decoration: none;
  --title-b18-font-family: Pretendard;
  --title-b18-font-weight: Bold;
  --title-b18-font-size: 18px;
  --title-b18-line-height: 22px;
  --title-b18-letter-spacing: -1.2%;
  --title-b18-paragraph-spacing: 0px;
  --title-b18-text-case: none;
  --title-b18-text-decoration: none;
  --title-b21-font-family: Pretendard;
  --title-b21-font-weight: Bold;
  --title-b21-font-size: 21px;
  --title-b21-line-height: 27px;
  --title-b21-letter-spacing: -1.2%;
  --title-b21-paragraph-spacing: 0px;
  --title-b21-text-case: none;
  --title-b21-text-decoration: none;
  --title-b23-font-family: Pretendard;
  --title-b23-font-weight: Bold;
  --title-b23-font-size: 23px;
  --title-b23-line-height: 34px;
  --title-b23-letter-spacing: -1.2%;
  --title-b23-paragraph-spacing: 0px;
  --title-b23-text-case: none;
  --title-b23-text-decoration: none;
  --caption-r11-font-family: Pretendard;
  --caption-r11-font-weight: Regular;
  --caption-r11-font-size: 11px;
  --caption-r11-line-height: 14px;
  --caption-r11-letter-spacing: 0%;
  --caption-r11-paragraph-spacing: 0px;
  --caption-r11-text-case: none;
  --caption-r11-text-decoration: none;
  --caption-m12-font-family: Pretendard;
  --caption-m12-font-weight: Medium;
  --caption-m12-font-size: 12px;
  --caption-m12-line-height: 16px;
  --caption-m12-letter-spacing: -1.2%;
  --caption-m12-paragraph-spacing: 0px;
  --caption-m12-text-case: none;
  --caption-m12-text-decoration: none;
  --caption-filter-font-family: Pretendard;
  --caption-filter-font-weight: Medium;
  --caption-filter-font-size: 10px;
  --caption-filter-line-height: 15px;
  --caption-filter-letter-spacing: 0%;
  --caption-filter-paragraph-spacing: 0px;
  --caption-filter-text-case: none;
  --caption-filter-text-decoration: none;
  --textcase-none: none;
  --textdecoration-none: none;
  --paragraphindent-0: 0px;
}
