@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color--blue: #04aef1;
  --color--green: #2ac47e;
  --color--orange: #ff7534;
  --color--pink: #fd7fcd;
  --color-error: #f45b50;

  --color-text-primary: #0f0f11;
  --color-text-secondary: #383b45;
  --color-text-tertiary: #5d6270;
  --color-placeholder: #979bab;
}
